@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active-btn {
        @apply bg-green-600 text-white;
    }

    .btn {
        @apply hover:bg-green-600 text-white;
    }
}
.message {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    row-gap: calc(2rem);
}

.is-not-read {
    filter: grayscale(100%);
}

body {
    background: #6ae4a8;
    background: linear-gradient(90deg, #6ae4a8 0%, rgba(61, 187, 130, 1) 100%);
}

.box {
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
