/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --main-text-color: #086047;
    --main-bg-color: #b5bbc9;
    --secondary-bg-color: #fff;

    --sidebar-text-color: #38484c;
    --sidebar-item-bg-color: #086047;
    --sidebar-icon-color: #b5bbc9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.main {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.message {
    border: 3px solid #086047;
    height: 100vh;
    padding: 0 1rem;
    width: 30%;
}

.content {
    border: 3px solid #086047;
    height: 100vh;
    padding: 0 1rem;
    width: 50%;
}

.side-navbar {
    border: 3px solid #086047;
    padding: 0 1rem;
    height: 100vh;
    width: 20%;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
    transition: 0.5s ease;
}
.side-navbar ul {
    top: 0;
    left: 0;
    width: 100%;
}
.side-navbar ul li {
    border-radius: 3rem;
    width: 100%;
}
.side-navbar ul li:hover {
    background: var(--sidebar-item-bg-color);
    --sidebar-text-color: #fff;
    --sidebar-icon-color: #fff;
}

.side-navbar ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    color: var(--sidebar-text-color);
}
.brand {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    color: var(--sidebar-text-color);
    margin-bottom: 2rem;
}

.brand .icon {
    min-width: 60px;
    display: block;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: var(--sidebar-icon-color);
}

.brand .text {
    display: block;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
}

.side-navbar ul li a .icon {
    min-width: 60px;
    display: block;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: var(--sidebar-icon-color);
}

.side-navbar ul li a .text {
    display: block;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
}

.side-navbar.active {
    width: 60px;
}
@media (max-width: 768px) {
    .side-navbar {
        width: 60px;
        left: -60px;
    }

    .side-navbar.active {
        left: 0;
    }
}
